@use "_variables.scss" as v;
@use "_mixins.scss" as *;

.leaderboard {
  @include modal;
  .leaderboard-inner {
    max-height: 70dvh;
    @include flex-center;
    .leaderboard-li {
      margin-left: 1.5rem;
      &::marker {
        color: v.$color-primary;
      }
    }
    .leaderboard-list {
      box-sizing: content-box;
      text-transform: capitalize;
      overflow-x: auto;
      min-height: 7dvh;

      .review {
        color: #ffa5a5a2;
      }
    }
  }
}
